@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    font-family: "Roboto", "sans-serif";
    background-color: '#45b4ef';
    margin: 0;
    padding:0;
}

h4 {
    font-weight: 500;
    font-size: 18px;
    color: #16A1EB;


}

a {
    font-weight: 500;
    font-size: 14px;
    color: #16A1EB;
    text-decoration: underline;
    padding-right: 4px;
}